
<hr>

<div class="pagination">

    {% if page.first_exercise %}
        <span>Previous Exercise</span>
    {% else %}
        <a href="{{ page.previous.url }}" class="previous">Previous Exercise</a>
    {% endif %}

    {% if page.next %}
        {% if page.last_exercise %}
            <span>Next Exercise</span>
        {% else %}
            <a href="{{ page.next.url }}" class="previous">Next Exercise</a>
        {% endif %}
    {% else %}
        <span>Next Exercise</span>
    {% endif %}
</div>
